
// Display Table
//----------------------------------
%header-sub-font {
    font-style: normal;
    font-weight: 400;
    font-family: $font-family-primary;
    text-transform: uppercase;
    white-space: nowrap;
} 

%header-mobile-svg-icon{
	line-height: 0;
    padding: 8px;
}

%block-extended-header-footer{
    background-color: #fff;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
}