%extend-grid-inner-and-image-box{
	display: block;
	position: relative;
}
%extend-grid-img-and-image-box-wrapper{
	display: flex;
	overflow: hidden;
	position: relative;
	padding-bottom: 100%;
}
%extend-grid-img-inner--image-box-inner---position{
	top: 0;
	left: 0;
	right: 0; 
	bottom: 0; 
	overflow: hidden;
	position: absolute;
}
%extend-grid-img-inner--image-box-inner__img{
	top: 50%;
	left: 50%;
	width: auto;
	height: 100%;
	position: absolute;
	transform: translate(-50%, -50%);
	transition: opacity 0.3s ease-in 0s;
}