@charset "UTF-8";
.icon--bag,
.icon--close,
.icon--search,
.icon--hamburger,
.icon--search--small,
.icon--caretlarge--left,
.icon--caretlarge--right,
.icon--caretsmall--left,
.icon--caretsmall--right {
  stroke-width: 1.5;
}

.icon--search {
  height: 20px;
  width: 20px;
}

.icon--search--small {
  height: 15px;
  width: 15px;
}

.icon--bag {
  height: 38px;
  width: 34px;
}

.icon--cart {
  height: 26px;
  width: 31px;
}

.icon--hamburger {
  width: 24px;
  height: 18px;
}

.icon--close {
  height: 16px;
  width: 16px;
}

/*! normalize.css */

body {
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.06em;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.6em;
  font-family: Rubik;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  letter-spacing: .06em;
  line-height: 1.8em;
  text-transform: none;
  color: rgba(29,29,29,.7);
}

a:hover,
a:focus {
  text-decoration: none;
}

h1,
h2,
h3 {
  text-rendering: optimizelegibility;
}

h1:last-child,
h2:last-child,
h3:last-child {
  margin-bottom: 0;
}

h1:first-child,
h2:first-child,
h3:first-child {
  margin-top: 0;
}

h1 {
  color: #faa74b;
  line-height: 1.4em;
  font-size: 32px;
  letter-spacing: 0.00444444px;
}

h2 {
  line-height: 1.4em;
  font-size: 24px;
  letter-spacing: 0.0184615px;
}

h3 {
  font-size: 26px;
  letter-spacing: 0.02em;
  line-height: 1.2em;
  font-style: normal;
  font-weight: 400;
}
h3 a {
  color: #5ac4be;
  padding-bottom: .05em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(90,196,190,.3);
  -webkit-transition: border-color .15s ease-out,color .15s ease-out;
  -moz-transition: border-color .15s ease-out,color .15s ease-out;
  -ms-transition: border-color .15s ease-out,color .15s ease-out;
  -o-transition: border-color .15s ease-out,color .15s ease-out;
  transition: border-color .15s ease-out,color .15s ease-out;
}

@media (min-width: 992px) {
  h1 {
    font-size: 72px;
    letter-spacing: 0.01em;
  }
  h2 {
    font-size: 40px;
    letter-spacing: 0.05em;
  }
}

hr {
  background-color: #ddd;
  color: #ddd;
  height: 1px;
  border: medium none;
}

.master-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  max-width: 1800px;
}

.master-container:before,
.master-container:after {
  content: " ";
  display: table;
}

.master-container:after {
  clear: both;
}

@media screen and (max-width: 767px) {
  .master-container {
    margin-top: 125px;
  }
}

.content-box {
  padding: 60px 20px;
}

.content-box:before,
.content-box:after {
  content: " ";
  display: table;
}

.content-box:after {
  clear: both;
}

@media (min-width: 768px) {
  .content-box {
    padding-left: 36px;
    padding-right: 36px;
  }
}

@media (min-width: 992px) {
  .content-box {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media (min-width: 1200px) {
  .content-box {
    padding: 80px 80px;
  }
}

.header-search,
.header-cart,
.main-nav {
  font-style: normal;
  font-weight: 400;
  font-family: "Rubik";
  text-transform: uppercase;
  white-space: nowrap;
}

.searchbar-toggle,
.menubar-toggle {
  line-height: 0;
  padding: 8px;
}

.header,
.footer {
  background-color: #fff;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

.grid-inner,
.image-box {
  display: block;
  position: relative;
}

.grid-img,
.image-box--wrapper {
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
  padding-bottom: 100%;
}

.grid-img .grid-img-inner,
.grid-img .grid-hover-inner,
.image-box--inner {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  position: absolute;
}

.grid-img img,
.image-box--inner img {
  top: 50%;
  left: 50%;
  width: auto;
  height: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in 0s;
}

.grid-row-20,
.grid-row-40 {
  position: relative;
  margin-left: 0;
}

.grid-row-20:before,
.grid-row-40:before,
.grid-row-20:after,
.grid-row-40:after {
  content: " ";
  display: table;
}

.grid-row-20:after,
.grid-row-40:after {
  clear: both;
}

.grid-row-20,
.grid-row-40 {
  margin-right: -20px;
}

.grid-row-20 .grid-inner,
.grid-row-40 .grid-inner {
  margin-bottom: 20px;
  margin-right: 20px;
}

@media (min-width: 992px) {
  .grid-row-40 {
    margin-right: -40px;
  }
  .grid-row-40 .grid-inner {
    margin-bottom: 40px;
    margin-right: 40px;
  }
}

.grid-col {
  padding-left: 0 !important;
  padding-right: 0 !important;
  outline: 0 none !important;
}

.grid-inner {
  cursor: pointer;
}

.grid-inner .grid--title {
  color: #5bc4bf;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.4em;
  margin: 1.2em 0 0;
  text-transform: uppercase;
}

.grid-img .grid-hover-inner {
  z-index: 5;
  opacity: 0;
  font-size: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  transition: opacity 0.3s ease-in 0s;
}

.grid-img img.grid-image--2nd {
  opacity: 0;
  position: absolute !important;
  z-index: 2;
}

.grid-img:hover .grid-hover-inner,
.grid-img:hover img.grid-image--2nd {
  opacity: 1;
}

.box {
  width: 100%;
  padding: 30px;
  position: relative;
  border-radius: 3px;
  margin-bottom: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.box-header:before,
.box-body:before,
.box-header:after,
.box-body:after {
  content: " ";
  display: table;
}

.box-header:after,
.box-body:after {
  clear: both;
}

.box-header {
  display: block;
  position: relative;
}

.box-header .box-title {
  margin: 0;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4em;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}

.box-body {
  padding-top: 30px;
}

.box-white {
  background-color: #fff;
}

.box-white .box-header {
  color: #666;
}

.box-white .box-body {
  color: #333;
}

.image-box {
  float: left;
}

.image-box-50 {
  width: 50px;
  margin-right: 3px;
}

.image-box-100 {
  width: 100px;
  margin-right: 7px;
}

.header-inner,
.header-inner__left,
.header-inner__right,
.header-inner__center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  transition: opacity 200ms ease-out 600ms;
}

.header-inner {
  background-color: #fff;
  width: 100%;
  padding: 8px 12px;
  text-align: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 1800px;
  margin: 0 auto 0 auto;
}

@media screen and (max-width: 767px) {
  .stieku{
    display: none !important;
  }
  .header-inner {
    top: 0;
    left: 0;
    z-index: 1001;
    position: fixed;
  }
}

@media screen and (min-width: 768px) {

  .header-inner {
    padding: 30px 75px;
  }
}

.header-inner__left,
.header-inner__right {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

@media screen and (min-width: 768px) {
  .header-inner__left,
  .header-inner__right {
    -ms-flex: 1 1 0;
    flex: 1 1 0;
  }
}

.header-inner__left {
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.header-inner__right {
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.header-inner__center {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  text-align: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.site-brand {
  line-height: 0;
  padding: 8px;
}

.site-brand>img {
  width: 100%;
  border: 0 none;
  max-width: 80px;
}

@media screen and (min-width: 768px) {
  .site-brand>img {
    max-width: 200px;
  }
}

@media screen and (min-width: 768px) {
  .site-brand {
    padding: 5px;
  }
}

.header-search {
  letter-spacing: 0.06em;
  font-size: 12px;
  padding: 5px;
  color: #1d1d1d;
  stroke: #fff;
  margin-right: 23px;
  margin-bottom: 3px;
}

.header-search *::-moz-placeholder {
  color: rgba(29, 29, 29, 0.5);
}

@media screen and (max-width: 767px) {
  .header-search {
    max-width: 150px;
    /* 
      width: 300px;
      max-width: 100%; */
  }
}

.searchbar-toggle {
  stroke: #f16676;
  outline: 0 none;
}

@media screen and (min-width: 768px) {
  .searchbar-toggle {
    display: none;
  }
}

.searchbar-toggle .icon--close {
  display: none;
}

.searchbar-toggle.open .icon--close {
  display: block;
}

.searchbar-toggle.open .icon--search {
  display: none;
}

.header-search__form {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-search__form {
    display: inline-block !important;
    vertical-align: middle;
  }
}

.header-search__text,
.header-search__submit {
  border: none;
  outline: none;
  text-transform: inherit;
  letter-spacing: inherit;
  background-color: transparent;
}

.header-search__text {
  max-width: 100%;
  padding: 0.5em 0;
  width: 100%;
  border-bottom: 1px solid rgba(29, 29, 29, 0.3);
  line-height: normal;
  outline: 0 none;
}

/* @media screen and (min-width: 768px) {
    .header-search__text {
      width: 12em; } } */

.header-search__submit {
  padding: 0;
  transition: opacity 200ms ease 0s;
  vertical-align: middle;
}

.header-cart {
  padding: 5px;
  font-size: 12px;
  stroke: #f16676;
  line-height: 1em;
  position: relative;
  letter-spacing: 0.2em;
}

.header-cart__inner {
  display: block;
  position: relative;
}

.header-cart__label {
  display: none;
}

.header-cart__quantity {
  text-align: center;
  line-height: 27px;
  color: #f16676;
  left: 50%;
  bottom: 0;
  position: absolute;
  transform: translateX(-50%);
}

.main-nav .nav-item,
.main-nav:hover .nav-item:hover,
.mobile-nav__primary:hover .nav-item:hover {
  color: #87c0bd;
  text-decoration: none;
  outline: none;
}

.main-nav {
  padding: 5px 7px;
  line-height: 1em;
  font-size: 13px;
  letter-spacing: 0.2em;
}

.main-nav .nav-item {
  display: inline-block;
  padding: 0.618em 0.4em;
  vertical-align: middle;
  transition: color 170ms ease-in-out 0s;
}

.main-nav:hover .nav-item {
  color: rgba(135, 192, 189, 0.4);
}

@media screen and (max-width: 767px) {
  .main-nav {
    display: none;
  }
}

.main-nav__inner {
  margin: -0.618em;
}

/* Mobile Menu */

.menubar-toggle,
.mobile-nav__closebtn {
  border: 0;
  outline: 0;
  background-color: transparent;
  stroke: #87c0bd;
}

@media screen and (max-width: 767px) {
  .mobile-nav-active {
    position: fixed;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .menubar-toggle {
    display: none;
  }
}

.mobile-nav {
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: 1011;
  position: fixed;
  transition: 0.3s;
  text-align: left;
  overflow-x: hidden;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
}

.mobile-nav__inner {
  top: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  padding: 36px;
  overflow: auto;
  position: absolute;
  background-color: #fff;
}

.mobile-nav__closebtn {
  top: 0;
  z-index: 3;
  right: 20px;
  position: absolute;
  padding: 22px 22px 60px;
}

.mobile-nav__primary {
  font-size: 36px;
  font-weight: 300;
  line-height: 1em;
  font-family: "Rubik";
}

.mobile-nav__primary .nav-item {
  display: block;
  position: relative;
  text-align: left;
  width: 100%;
  padding-bottom: 0.618em;
  color: #87c0bd;
  transition: 0.3s;
}

.mobile-nav__primary:hover .nav-item {
  color: rgba(135, 192, 189, 0.4);
}

.footer-inner {
  padding: 20px;
}

@media (min-width: 768px) {
  .footer-inner {
    padding: 36px;
  }
}

@media (min-width: 992px) {
  .footer-inner {
    padding: 48px;
  }
}

@media (min-width: 1200px) {
  .footer-inner {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.footer-inner__bottom {
  padding: 20px 17px 17px;
}

.footer-nav {
  /* 
	font-family: "Rubik"; */
  font-size: 12px;
  /* 
    font-style: normal;
    font-weight: 400; */
  letter-spacing: 0.2em;
  line-height: 2em;
  text-transform: uppercase;
}

.footer-nav .nav-item {
  display: inline-block;
  transition: color 0.15s ease-out 0s;
}

.footer-nav a.nav-item {
  color: #f0729e;
}

.footer-nav a.nav-item:hover {
  color: rgba(240, 114, 158, 0.5);
}

[class^="col-"] .margin-wrapper {
  margin-bottom: 20px;
  margin-right: -10px;
  position: relative;
}

[class^="col-"] .margin-wrapper>a {
  border-bottom: 0;
  display: block;
  height: 0;
  padding-bottom: 100%;
  width: 100%;
}

.gallery-nav {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 2.5em;
  margin: 0 0 22.5px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .gallery-nav {
    margin-bottom: 80px;
  }
}

.gallery-nav__dropdown {
  display: none;
}

@media (max-width: 767px) {
  .gallery-nav__dropdown {
    font-weight: 400;
    display: none;
    cursor: pointer;
    display: block;
    overflow: hidden;
    text-align: center;
  }
  .gallery-nav__dropdown>.dropdown-label {
    width: auto;
    overflow: hidden;
    padding-right: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dropdown-icon .fa-angle-up {
    display: none;
  }
  .open .gallery-nav__dropdown {
    display: block;
  }
  .open .fa-angle-down {
    display: none;
  }
  .open .fa-angle-up {
    display: inline-block;
  }
  .open .gallery-nav__list {
    display: block;
  }
  .gallery-nav__list {
    display: none;
  }
}

.gallery-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.gallery-nav__list>li {
  display: block;
  margin-bottom: 5px;
  letter-spacing: 0.2em;
}

@media (min-width: 768px) {
  .gallery-nav__list>li {
    display: inline-block;
    margin-bottom: 1px;
    margin-right: 40px;
  }
}

.gallery-nav__list>li:last-child {
  margin-right: 0;
}

.gallery-nav__list>li.active a {
  color: #f16676;
}

.gallery-nav__list>li a {
  color: #1d1d1d;
  outline: 0 !important;
  transition: opacity 0.3s ease-in 0s;
}

.gallery-nav__list>li a:hover,
.gallery-nav__list>li a:focus {
  opacity: 0.5;
}

.btn-fl {
  border-radius: 300px;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-width: 0;
  padding: 1em 2em;
  line-height: 1;
  text-align: center;
}

.btn-fl.btn-fl-lg {
  font-size: 17px;
  font-weight: 400;
}

.btn-pink {
  background-color: #f16676;
  border-color: #f16676;
  color: #fff;
}

.btn-pink:hover,
.btn-pink:focus {
  opacity: 0.8;
  color: #fff;
  outline: 0 !important;
}

.quick-view-button {
  background-color: #fff;
  border-width: 0;
  color: #1d1d1d;
  cursor: pointer;
  display: inline-block;
  line-height: 1em;
  padding: 1.5em;
}

.btn-black {
  background-color: #222;
  border-color: #222;
  color: #fff;
}

.btn-black:hover,
.btn-black:focus,
.btn-black:active {
  background-color: #999;
  border-color: #999;
  color: #fff;
}

label.title,
.field-list label.control-label {
  font-weight: 300;
}

.help-block {
  font-size: 12px;
}

label.required:after {
  content: " *";
  padding-left: 5px;
  color: #f16676;
}

.field-control {
  background: #fafafa;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: none;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 14px;
  height: auto;
  line-height: normal;
  margin: 6px 0 4px;
  padding: 12px;
  width: 100%;
  display: block;
  transition: background 0.15s ease-in-out 0s;
}
.inp-sub{
  width: 100%;
    padding: 1em;
    background: #fff;
    border: 1px solid rgba(0,0,0,.12);
    font-family: inherit;
    font-size: 15px;
    line-height: normal;
    outline: none;
    -webkit-transition: background .3s ease-out,border .3s ease-out;
    -moz-transition: background .3s ease-out,border .3s ease-out;
    -ms-transition: background .3s ease-out,border .3s ease-out;
    -o-transition: background .3s ease-out,border .3s ease-out;
    transition: background .3s ease-out,border .3s ease-out;
}
.field-control:focus {
  background: #fff;
}

textarea.field-control {
  min-height: 100px;
  resize: vertical;
}

.field-list .help-block {
  font-size: 13px;
}

.form-row {
  margin-left: -5px;
  margin-right: -5px;
}

.form-row [class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

.hide-label .form-group .field .control-label {
  display: none;
}

.well .form-row .form-group {
  margin-bottom: 0;
}

.form-widget fieldset,
.form-widget .edit-fieldset {
  display: none;
}

.form-widget .edit-fieldset {
  float: right;
  font-size: 11px;
  cursor: pointer;
}

.form-widget .saved-fieldset,
.form-widget.editing fieldset {
  display: block;
}

.form-widget.complete .edit-fieldset {
  display: inline-block;
}

.hentry h1.product-title {
  color: #f16676;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1.2em;
  margin-bottom: 25px;
}

.hentry .product-price {
  color: #999;
  font-size: 20px;
  line-height: 1em;
  margin-bottom: 25px;
}

.hentry .product-detail {
  color: #1d1d1d;
  font-size: 14px;
  letter-spacing: 0.06em;
  line-height: 1.8em;
  margin-bottom: 25px;
}

.hentry .option-cart {
  margin-bottom: 25px;
}

.hentry .option-cart>label {
  display: block;
  font-weight: 300;
  font-size: 13px;
}

.hentry .option-cart>input {
  border-radius: 300px;
  background-color: #f6f6f6;
  border: 2px solid rgba(238, 238, 238, 0);
  padding: 0.75em 1.25em;
  color: #1d1d1d;
  font-size: 12px;
  line-height: 1em;
}
input:focus {
  outline: none;
}
select:focus {
  outline: none;
}

.hentry .option-cart .select2-container--default .select2-selection--single {
  font-size: 12px;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  background-color: #f6f6f6;
  border-radius: 300px !important;
}

.hentry .option-cart .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 33px;
}

.hentry .option-cart .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 31px;
}

.hentry .option-cart-addbtn {
  margin-bottom: 25px;
}

body>.select2-container {
  font-size: 12px;
  z-index: 9999;
}

.variant-info {
  font-size: 75%;
}

.detail-images {
  margin-bottom: 25px;
}

.zoompict {
  position: relative;
  display: inline-block;
  cursor: zoom-in;
}

.zoompict img {
  display: block;
}

.single-top-bar {
  display: block;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1em;
  overflow: hidden;
  padding-bottom: 50px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.product-price {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1.4em;
  margin: 0.5em 0 0;
  text-transform: none;
}

.about-image-container {
  max-width: 570px;
  margin: auto;
}

.about-image-inner {
  padding-bottom: 100%;
  line-height: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.about-image-inner img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.fl-block {
  position: relative;
  height: auto;
  padding-top: 17px;
  padding-bottom: 17px;
  outline: none;
  box-shadow: inset 0 0 0 1px rgba(128, 128, 128, 0);
  transition: box-shadow 0.2s ease-in-out;
}

.fl-block:before,
.fl-block:after {
  content: " ";
  display: table;
}

.fl-block:after {
  clear: both;
}

.fl-block-html {
  margin-left: auto;
  margin-right: auto;
  width: 49.99%;
}

.breadcrumbs .nav-item {
  color: inherit;
  margin-right: 5px;
  margin-bottom: 7px;
  display: inline-block;
}

.breadcrumbs a.nav-item:after {
  content: "›";
  height: 21px;
  color: #999;
  width: 1px;
  padding-left: 5px;
}

.pager-nav {
  margin: 0px;
  padding: 0px;
  display: block;
  list-style: none;
}

.pager-nav>li {
  display: inline-block;
}

.pager-nav>li a {
  display: block;
  color: inherit;
  outline: none !important;
}

.pager-nav>li a:active,
.pager-nav>li a:hover {
  color: #f16676;
}

.pager-nav>li.disabled>a {
  color: #777 !important;
  cursor: not-allowed;
}

.error-summary {
  background: #a00 url("../img/tiny-alert.png") no-repeat scroll 7px 7px;
  border-radius: 2px;
  color: #fff;
  font-size: 11px;
  line-height: 19px;
  padding: 5px 8px 5px 28px;
}

fieldset .error-summary {
  margin-bottom: 20px;
}

.parallax {
  bottom: 0;
  left: -5px;
  position: absolute;
  right: -5px;
  top: 0;
}

.parallax img {
  bottom: 0;
  display: none;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  transform: translateX(-50%);
}

.home-panels.bg-parallax {
  background-color: #000;
  height: 796px;
}
.bg-parallax .home-content{

}
.bg-parallax .index-page__inner {
  padding-bottom: 60px;
  padding-top: 60px;
}

@media (min-width: 992px) {
  .bg-parallax .index-page__inner {
    padding-bottom: 120px;
    padding-top: 120px;
  }
}

@media (min-width: 1200px) {
  .bg-parallax .index-page__inner {
    padding-bottom: 250px;
    padding-top: 250px;
  }
}

.bg-parallax .hentry--content {
  color: #fff;
}

.bg-parallax .hentry--content .paralax-title,
.bg-parallax .hentry--content .paralax-subtitle {
  color: inherit;
  display: block;
}

.bg-parallax .hentry--content .paralax-title {
  font-weight: 500;
  margin-bottom: 0.67em;
  font-size: 45px;
  letter-spacing: 0.01em;
  line-height: 1.4em;
    color: #5bc4bf;
}

@media (min-width: 992px) {
  .bg-parallax .hentry--content .paralax-title {
    font-size: 55px;
  }
}

@media (min-width: 1200px) {
  .bg-parallax .hentry--content .paralax-title {
    font-size: 72px;
  }
}

.bg-parallax .hentry--content .paralax-subtitle {
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.2em;
  margin-top: 20px;
}

@media (min-width: 992px) {
  .bg-parallax .hentry--content .paralax-subtitle {
    font-size: 25px;
  }
}

@media (min-width: 1200px) {
  .bg-parallax .hentry--content .paralax-subtitle {
    font-size: 26px;
  }
}


.paralax-subtitle a {
    padding-bottom: .05em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(91,196,191,.3);
    -webkit-transition: border-color .15s ease-out,color .15s ease-out;
    -moz-transition: border-color .15s ease-out,color .15s ease-out;
    -ms-transition: border-color .15s ease-out,color .15s ease-out;
    -o-transition: border-color .15s ease-out,color .15s ease-out;
    transition: border-color .15s ease-out,color .15s ease-out;
        color: #5bc4bf;
}


.bg-parallax .hentry--content a:hover {
    color: rgba(90,196,190,.6);
    border-color: rgba(90,196,190,.15);
}

.bg-parallax .hentry--content p {
  margin: 0;
}

.currency-code-aud.product-price {
  content: " Incl GST";
}

.currency-code-aud .money-native:before {
  content: "$";
}

.currency-code-aud .money-native:after {
  content: " AUD";
}

.loading-active {
  cursor: wait;
  opacity: 0.6;
  position: relative;
  pointer-events: none;
}

.loading-active .loading-spinner {
  display: block;
}

.loading-spinner {
  display: none;
  top: 50%;
  left: 50%;
  margin-top: 25px;
  position: absolute;
  transform: translate(-50%, -50%);
}

.loading-spinner .fl-spin {
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 50px;
}

.fl-spin__content {
  box-sizing: border-box;
  height: 100%;
}

.fl-spin {
  background-color: transparent;
  border-radius: 150px;
  display: inline-block;
  vertical-align: middle;
  animation: anim-fl-spin 1s infinite linear;
}

.fl-spin.light {
  border: 2px solid rgba(255, 255, 255, 0.7) !important;
  border-top-color: rgba(255, 255, 255, 0.15) !important;
  border-left-color: rgba(255, 255, 255, 0.15) !important;
}

.fl-spin.dark {
  border: 2px solid rgba(0, 0, 0, 0.75) !important;
  border-top-color: rgba(0, 0, 0, 0.08) !important;
  border-left-color: rgba(0, 0, 0, 0.08) !important;
}

@keyframes anim-fl-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.shoppingcart-_wrapper .subtotal {
  border-bottom: 1px solid #ddd;
  float: right;
  margin-bottom: 30px;
  padding-bottom: 15px;
  padding-right: 0px;
  padding-top: 20px;
  text-align: right;
  width: 50%;
}

.shoppingcart-_wrapper .subtotal .label {
  color: inherit;
  font-size: 16px;
  font-weight: 300;
  margin-right: 15px;
}

.shoppingcart-_wrapper .checkout {
  float: right;
  clear: both;
  padding-right: 0px;
}

table.cart-table {
  margin-bottom: 0;
}

table.cart-table>thead>tr>th,
table.cart-table>thead>tr>td,
table.cart-table>tbody>tr>th,
table.cart-table>tbody>tr>td,
table.cart-table>tfoot>tr>th,
table.cart-table>tfoot>tr>td {
  padding-left: 0;
  padding-right: 0;
  vertical-align: middle;
}

table.cart-table>thead>tr>th,
table.cart-table>tbody>tr>td {
  border-top: 0;
  border-bottom: 1px solid #ddd;
}

table.cart-table>thead>tr>th.price,
table.cart-table>thead>tr>th.quantity,
table.cart-table>tbody>tr>td.price,
table.cart-table>tbody>tr>td.quantity {
  text-align: right;
  white-space: nowrap;
}

table.cart-table>thead>tr>th.remove,
table.cart-table>tbody>tr>td.remove {
  min-width: 30px;
  text-align: center;
}

table.cart-table>tbody>tr>td a {
  color: inherit;
}

table.cart-table>tbody>tr>td .remove-item {
  font-size: 1.2em;
  font-weight: 500;
  margin-right: 10px;
  cursor: pointer;
  opacity: 0.5;
}

table.cart-table>tbody>tr>td input {
  float: right;
  margin-left: 5px;
  text-align: right;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.page-title {
  font-size: 20px;
  letter-spacing: 0.05em;
  line-height: 1.4em;
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 0 35px !important;
  color: #5bc4bf;
}

.hentry--content {
  cursor: auto;
  line-height: 1.8em;
}

.hentry--content h3{
  margin-top: 49px;
}

.hentry--content p {
  margin-bottom: 15px;
}

.hentry--content p a {
  color: #5bc4bf;
  border-bottom: 1px solid rgba(135, 192, 189, 0.3);
  padding-bottom: 0.05em;
  transition: border-color 0.15s ease-out 0s, color 0.15s ease-out 0s;
}

.page-home .master-container {
  max-width: 100%;
}

.home-panels {
  background-color: #fff;
  overflow: hidden;
  position: relative;
}

.home-content {
  max-width: 1810px;
  padding: 60px 20px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .home-content {
    padding-left: 36px;
    padding-right: 36px;
  }
}

@media (min-width: 992px) {
  .home-content {
    padding: 120px 48px;
  }
}

@media (min-width: 1200px) {
  .home-content {
    padding: 150px 85px;
  }
}

.home-gallery {
  background-color: #fff;
  padding: 50px;
}

.home-gallery .row {
  margin-left: -25px;
  margin-right: -25px;
}

.home-gallery .row [class^="col-"] {
  padding-left: 25px;
  padding-right: 25px;
}

@media (max-width: 767px) {
  .home-gallery {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.empty-message {
  display: none;
}

.empty .empty-message {
  display: block;
}

.search-page__find {
  background: #fff url("../img/icon-searchqueries-32-dark.png") no-repeat scroll 15px 50%;
  border: 1px solid #aaa;
  margin: 0 0 50px;
  padding: 10px 10px 10px 60px;
  position: relative;
}

.search-page__find .spinner-wrapper {
  top: 50%;
  left: 10px;
  opacity: 0.5;
  font-size: 10px;
  margin-top: -14px;
  position: absolute;
}

.search-page__find input {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  font-size: 27px;
  outline: medium none;
  display: block;
  font-weight: 400;
  width: 100%;
}

.search-page__result {
  transition: opacity 0.15s linear 0s;
}

.search-page__result .result-notice {
  color: #000;
  font-size: 12px;
}

.search-page__more {
  margin: 15px 0;
  display: block;
  text-align: center;
}

.result-container {
  /* 
	.media-object__wrapper {
		display: flex;
		overflow: hidden;
		padding-bottom: 100%;
		position: relative;
	}
	
	
	.media-object__inner {
		bottom: 0;
		left: 0;
		overflow: hidden;
		position: absolute;
		right: 0;
		top: 0;
		
		img {
			position: absolute;
			height: 100%;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			transition: opacity 0.3s ease-in 0s;
		}
	} */
}

.result-container .media {
  margin-top: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid rgba(200, 200, 200, 0.35);
}

@media (min-width: 992px) {
  .result-container .media .media-left,
  .result-container .media>.pull-left {
    padding-right: 20px;
  }
  .result-container .media .media-right,
  .result-container .media>.pull-right {
    padding-left: 20px;
  }
}

.result-container .media-object {
  width: 64px;
  /* height: 64px; */
}

@media (min-width: 768px) {
  .result-container .media-object {
    width: 95px;
    /* height: 127px; */
  }
}

@media (min-width: 992px) {
  .result-container .media-object {
    width: 191px;
    /* height: 255px; */
  }
}

@media (min-width: 1200px) {
  .result-container .media-object {
    width: 305px;
    /* height: 406px; */
  }
}

.result-container .media-object img {
  width: 100%;
}

.result-container .media-heading {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 0.5em;
}

.result-container .media-heading a,
.result-container .media-heading a:hover,
.result-container .media-heading a:focus {
  color: inherit;
  outline: none;
}

.form-submission-text,
.form-submission-html,
.email-send .field-list {
  display: none;
}

.email-send .form-submission-text,
.email-send .form-submission-html {
  display: block;
}

body.page-checkout {
  background-color: #f3f3f3;
  color: #333;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  margin: 0;
  padding-bottom: 50px;
}

.page-checkout table.cart-table {
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.page-checkout table.cart-table>thead>tr>th {
  font-size: 11px;
  font-weight: 400;
}

.page-checkout table.cart-table>thead>tr>th.item,
.page-checkout table.cart-table>tbody>tr>td.item {
  width: 50px;
  padding-right: 8px;
}

.page-checkout table.cart-table>thead>tr>th.price,
.page-checkout table.cart-table>tbody>tr>td.price {
  padding-left: 8px;
}

.page-checkout table.cart-table>tbody>tr>td {
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.page-checkout table.cart-table>tbody>tr>td input {
  padding: 5px 10px;
}

.page-checkout .store-brand {
  color: #333;
  display: block;
  font-size: 24px;
  margin-bottom: 25px;
}

.page-checkout .store-brand img {
  display: inline-block;
  max-height: 80px;
  max-width: 300px;
}

.page-checkout .checkout-tax,
.page-checkout .checkout-total,
.page-checkout .checkout-subtotal,
.page-checkout .checkout-shipping {
  text-align: right;
  padding-right: 15px;
}

.page-checkout .checkout-tax .label,
.page-checkout .checkout-total .label,
.page-checkout .checkout-subtotal .label,
.page-checkout .checkout-shipping .label {
  color: #777;
  font-weight: 500;
  text-align: right;
  text-transform: uppercase;
}

.page-checkout .checkout-tax .price,
.page-checkout .checkout-total .price,
.page-checkout .checkout-subtotal .price,
.page-checkout .checkout-shipping .price {
  min-width: 100px;
  display: inline-block;
}

.page-checkout .checkout-total {
  margin-top: 10px;
  padding-top: 10px;
  font-weight: 700;
  border-top: 1px solid #ddd;
}

.page-checkout .checkout-total .price,
.page-checkout .checkout-total .label {
  font-size: 16px;
}

.page-checkout .form-control {
  font-size: 13px;
  font-weight: 500;
}

.checkout-container {
  max-width: 913px;
  padding-top: 45px;
  padding-bottom: 45px;
}

.checkout-cards {
  display: inline-block;
  float: right;
  height: 27px;
  position: relative;
  top: -3px;
}

.checkout-cards img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.stripe-billing {
  display: none;
}

.use-stripe-payment .stripe-billing {
  display: block;
}

.label-credit-card {
  margin-top: 15px;
}

/* 
#credit-card > .form-row .form-group{
	margin-bottom: 0; 
} */

#comfort {
  color: #666;
  font-size: 11px;
  margin-top: 20px;
  text-align: justify;
  margin-bottom: 30px;
}

.fancybox-wrap,
.fancybox-inner {
  max-width: 900px;
}

.quick-view-wrapper {
  display: block;
  overflow: hidden;
  padding: 15px;
  background-color: #fff;
}

.quick-view-wrapper .option-cart-qty {
  display: block;
  margin-bottom: 25px;
}

.quick-view-wrapper .option-cart-qty label {
  text-transform: uppercase;
  line-height: 1em;
  font-weight: 300;
  font-size: 12px;
  display: block;
  margin-bottom: 0.5em;
}

.quick-view-fullitem-link {
  color: inherit;
  font-size: 14px;
  opacity: 0.6;
  line-height: 1.8em;
  letter-spacing: 0.06em;
}

.quick-view-fullitem-link span {
  border-bottom: 1px solid #9d9d9d;
}

.fancybox-overlay {
  background-color: rgba(240, 240, 240, 0.6) !important;
  background-image: none !important;
}

.fancybox-skin {
  border-radius: 0;
}

.fancybox-close {
  display: none;
}

.quick-view-wrapper .detail-images {
  margin-bottom: 5px;
}

#owl-demo .item {
  margin: 3px;
}

#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}

.page-shoppingcart table.cart-table>thead>tr>th {
  font-weight: normal;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: .05em;
  opacity: .6;
}

.page-shoppingcart table.cart-table>thead>tr>th.item,
.page-shoppingcart table.cart-table>tbody>tr>td.item {
  width: 100px;
  padding-right: 15px;
}

.page-shoppingcart table.cart-table>thead>tr>th.price,
.page-shoppingcart table.cart-table>tbody>tr>td.price {
  padding-left: 10px;
}

.page-shoppingcart table.cart-table>tbody>tr>td {
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.page-shoppingcart table.cart-table>tbody>tr>td input {
  padding: 5px 10px;
}

.empty.shoppingcart-_wrapper .cart-table,
.empty.shoppingcart-_wrapper .cart_subtotal,
.empty.shoppingcart-_wrapper .checkout-shipping,
.empty.shoppingcart-_wrapper .checkout-tax,
.empty.shoppingcart-_wrapper .cart_total,
.empty.shoppingcart-_wrapper .checkout {
  display: none;
}


.f15{
  font-size: 15px;
}
.iconshare {
  color: rgba(29,29,29,.2);
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
}
.stieku {
  position: fixed;
  z-index: 999999;
  width: 100%;
  display: none;
}
.stieku img{
  width: 90px;
  height: 90px;
}