.about-image-container{
	max-width: 570px;
	margin: auto;
}
.about-image-inner{
	padding-bottom:100%;
	line-height: 0;
	overflow: hidden;
	position: relative;
	text-align: center;
	
	img{
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}