.box{
	width: 100%;
	padding: 30px;
	position: relative;
	border-radius: 3px;
	margin-bottom: 30px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
%box-in-extend {
	@include clearfix;
}

.box-header {
	display: block;
	position: relative;
	@extend %box-in-extend;
	 
	.box-title{
		margin: 0;
		display: block;
		font-size: 16px;
		font-weight: 500;
		line-height: 1.4em;
		letter-spacing: 0.05em;
		text-transform: capitalize;
	 }
}
.box-body {
	padding-top: 30px;
	@extend %box-in-extend; 
}
.box-white{
	background-color: #fff;
	
	.box-header{
		color: #666;
	}
	
	.box-body{
		color: #333;
	}
}

