.btn-fl{
	border-radius: 300px;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-width: 0;
    padding: 1em 2em;
	line-height: 1;
    text-align: center;
	
	&.btn-fl-lg{
		font-size: 17px;
		font-weight: 400;
	}
}

.btn-pink{
	background-color: #f16676;
    border-color: #f16676;
    color: #fff;
	
	&:hover,
	&:focus {
		opacity: 0.8;
		color: #fff;
		outline: 0 !important;
	}
}

.quick-view-button {
	background-color: #fff;
	border-width: 0;
	color: #1d1d1d;
	cursor: pointer;
	display: inline-block;
	line-height: 1em;
	padding: 1.5em;
}

.btn-black {
    background-color: #222;
    border-color: #222;
    color: #fff;
	
	&:hover,
	&:focus,
	&:active{
		background-color: #999;
		border-color: #999;
		color: #fff;
	}
}

