
.master-container {
	@include container-fixed(0);
	max-width: $container-max;
}

@media screen and (max-width: $grid-float-breakpoint-max) {
	.master-container{
		margin-top:  125px
	}
}

// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.






.content-box{
	@include clearfix;
	padding: 60px 20px;
	
	@media (min-width: $screen-sm-min) {
        padding-left: 36px;
        padding-right: 36px;
	}
	@media (min-width: $screen-md-min) {
        padding-left: 48px;
        padding-right: 48px;
	}
	@media (min-width: $screen-lg-min) {
		padding: 80px 80px;
	}
}