.footer {
	@extend %block-extended-header-footer;
}

.footer-inner {
	padding: 20px;
	
	@media (min-width: $screen-sm-min) {
        padding: 36px;
	}
	@media (min-width: $screen-md-min) {
        padding: 48px;
	}
	@media (min-width: $screen-lg-min) {
        padding-left: 80px;
        padding-right: 80px;
	}
}

.footer-inner__bottom {
	padding: 20px 17px 17px;
}

.footer-nav{/* 
	font-family: "Rubik"; */
    font-size: 12px;/* 
    font-style: normal;
    font-weight: 400; */
    letter-spacing: 0.2em;
    line-height: 2em;
    text-transform: uppercase;
	
	.nav-item{
		display: inline-block;
		transition: color 0.15s ease-out 0s;
	}
	
	a.nav-item{
		color: #f0729e;
		
		&:hover{
			color: rgba(240, 114, 158, 0.5)
		}
		
	}
	
}