
label.title,
.field-list label.control-label{
	font-weight: 300;
}
.help-block{
	font-size: 12px;
}
label.required:after{
	content: " *";
	padding-left: 5px;
	color: #f16676;
}
.field-control{
	background: #fafafa;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: none;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 14px;
    height: auto;
    line-height: normal;
    margin: 6px 0 4px;
    padding: 12px;
    width: 100%;
	display: block;
	transition: background 0.15s ease-in-out 0s;
	
	&:focus{
		background: #fff;
	}
}

textarea.field-control{
	min-height: 100px;
	resize: vertical;
}

.field-list{
	.help-block{
		font-size: 13px;
	}
}

.form-row{
	margin-left: -5px;
	margin-right: -5px; 
	
	[class^="col-"] {
		padding-left: 5px;
		padding-right: 5px;
	}
}

.hide-label{
	.form-group .field .control-label{
		display: none;
	}
}

.well .form-row .form-group{
	margin-bottom: 0;
}

.form-widget{
	fieldset,
	.edit-fieldset{
		display: none;
	}
	
	.edit-fieldset{
		float: right;
		font-size: 11px;
		cursor: pointer;
	}
	
	.saved-fieldset,
	&.editing fieldset{
		display: block;
	}
	
	&.complete .edit-fieldset {
		display: inline-block;
	}
}
