

[class^="col-"] .margin-wrapper{
	margin-bottom: 20px;
	margin-right: -10px;
	position: relative;
	
	> a{
		border-bottom: 0;
		display: block;
		height: 0;
		padding-bottom: 100%;
		width: 100%;
	}
}

// isotop product list navigation
.gallery-nav{
	text-align: center;	
    font-size: 13px;
    font-weight: 400;
    line-height: 2.5em;
	margin: 0 0 22.5px;
    text-transform: uppercase;

	@media (min-width: $screen-sm-min) {
		margin-bottom: 80px;
	}
}

.gallery-nav__dropdown{
	display: none; 
}

@media(max-width: $screen-xs-max) {
	.gallery-nav__dropdown{
		font-weight: 400;
		display: none;
		cursor: pointer;
		display: block;
		overflow: hidden;
		text-align: center;
		
		> .dropdown-label{
			width: auto;
			overflow: hidden;
			padding-right: 5px;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
	
	.dropdown-icon .fa-angle-up{
		display: none;
	} 
	
	.open{
		.gallery-nav__dropdown{
			display: block;
		}
		
		.fa-angle-down{
			display: none;
		}
		
		.fa-angle-up{
			display: inline-block;
		}
		
		.gallery-nav__list{
			display: block;
		}
	}
	
	.gallery-nav__list{
		display: none;
	}
}
	
.gallery-nav__list{
    margin: 0;
    padding: 0;
	list-style-type: none;
	
	> li{
		display: block;
		margin-bottom: 5px;
		letter-spacing: 0.2em;

		@media (min-width: $screen-sm-min) {
			display: inline-block;
			margin-bottom: 1px;
			margin-right: 40px;
		} 
		
		&:last-child{
			margin-right: 0;
		}
		
		&.active a{
			color: #f16676;
		}
		
		a {
			color: #1d1d1d;
			outline: 0 !important;
			transition: opacity 0.3s ease-in 0s;
	
			&:hover,
			&:focus {
				opacity: 0.5;
			}
		}
	}
} 