//
// Grid system
// --------------------------------------------------


// base grid row
%base-grid-row-extend{
	@include clearfix;
	position: relative;
	margin-left: 0;
} 

.grid-row-20,
.grid-row-40{
	@extend %base-grid-row-extend;
	margin-right: -20px;
	
	.grid-inner{
		margin-bottom: 20px;
		margin-right: 20px;
	}
}

@media (min-width: $screen-md-min) {
	.grid-row-40{
		margin-right: -40px;
	
		.grid-inner{
			margin-bottom: 40px;
			margin-right: 40px;
		}
	}
}

.grid-col{
	padding-left: 0 !important;
	padding-right: 0 !important;
	outline: 0 none !important;
}

.grid-inner{
    cursor: pointer;
	@extend %extend-grid-inner-and-image-box;

	.grid--title{
		color: #5bc4bf; 
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		letter-spacing: 0.04em;
		line-height: 1.4em;
		margin: 1.2em 0 0;
		text-transform: uppercase;
	}
}

.grid-img{
	@extend %extend-grid-img-and-image-box-wrapper;
	
	.grid-img-inner,
	.grid-hover-inner {
		@extend %extend-grid-img-inner--image-box-inner---position;
	}
	
	.grid-hover-inner{
		z-index: 5;
		opacity: 0;
		font-size: 12px;
		letter-spacing: 0.15em;
		text-transform: uppercase;
		width: 100%;
		height: 100%; 
		display: flex;
		align-items: center;
		justify-content: center;
		transition: opacity 0.3s ease-in 0s;
	}

	img{
		@extend %extend-grid-img-inner--image-box-inner__img;

		&.grid-image--2nd {
			opacity: 0;
			position: absolute !important;
			z-index: 2;
		}
	}
	
	&:hover {
		.grid-hover-inner,
		img.grid-image--2nd{
			opacity: 1;
		}
	}
}