// Base Header definition style
//--------------------------------------------------------------
.header{
	@extend %block-extended-header-footer;
}

// Header wrapper
.header-inner,
.header-inner__left,
.header-inner__right,
.header-inner__center{
	display: flex;
	align-items: center;
	transition: opacity 200ms ease-out 600ms;
} 

.header-inner{
	background-color: #000;
	width: 100%;
	padding: 8px 12px;
	text-align: center;
	justify-content: center;
	
	@media screen and (max-width: $grid-float-breakpoint-max) {
		top: 0;
		left: 0;
		z-index: 1001;
		position: fixed;
	}
	
	@media screen and (min-width: $grid-float-breakpoint)
	{
		padding: 30px 75px;
	}
}

%header-inner-left-right-flex {
	flex: 1 1 0;
}

.header-inner__left{
	@extend %header-inner-left-right-flex; 
	justify-content: flex-start;
    text-align: left;
}

.header-inner__right {
	@extend %header-inner-left-right-flex; 
	justify-content: flex-end;
    text-align: right;
}

.header-inner__center{
	flex: 0 0 auto;
    text-align: center;
	justify-content: center;
}

// header site brand logo
.site-brand{
	line-height: 0;
	padding: 8px;
	
	> img {
		width: 100%;
		border: 0 none;
		max-width: 80px;
		
		@media screen and (min-width: $grid-float-breakpoint)
		{
			max-width: 200px;
		}
	} 
	
	@media screen and (min-width: $grid-float-breakpoint)
	{
		padding: 5px;
	}
}

// Header search form
.header-search {
	@extend %header-sub-font; 
    letter-spacing: 0.06em;
    font-size: 12px;
    padding: 5px;
    color: #1d1d1d;
    stroke: #fff;
	
	*::-moz-placeholder {
		color: rgba(29, 29, 29, 0.5);
	}
	
	@media screen and (max-width: $grid-float-breakpoint-max) {
		width: 300px;
		max-width: 100%;
	}
}
  
.searchbar-toggle{
	@extend %header-mobile-svg-icon;
    stroke: $theme-secondary;
	outline: 0 none;

	@media screen and (min-width: $grid-float-breakpoint) {
		display: none;
	}
	
	.icon--close{
		display: none;
	}
	
	&.open{ 
		.icon--close{
			display: block;
		}
		
		.icon--search{
			display: none;
		}
	}
}

.header-search__form {
    display: none;
	
	@media screen and (min-width: $grid-float-breakpoint) {
		display: inline-block !important;
		vertical-align: middle;
	}
}

%header-search-text-submit-extend {
    border: none;
    outline: none;
    text-transform: inherit;
    letter-spacing: inherit;
    background-color: transparent;
}

.header-search__text{
	@extend %header-search-text-submit-extend; 
    max-width: 100%; 
    padding: 0.5em 0;
	width: 100%;
	border-bottom: 1px solid rgba(29, 29, 29, 0.3);
    line-height: normal;
	outline: 0 none;
	
	@media screen and (min-width: $grid-float-breakpoint) {
		width: 12em;
	}
}

.header-search__submit {
	@extend %header-search-text-submit-extend; 
    padding: 0;
    transition: opacity 200ms ease 0s;
    vertical-align: middle;
}

// Header cart block
.header-cart {
	@extend %header-sub-font; 
    padding: 5px;
    font-size: 12px;
    stroke: $theme-secondary; 
    line-height: 1em;
    position: relative;
    letter-spacing: 0.2em;
}

.header-cart__inner{
	display: block;
	position: relative;
} 

.header-cart__label{
	display: none;
}
	
.header-cart__quantity {
	text-align: center;
	line-height: 27px;
	color: $theme-secondary;
	left: 50%; 
	bottom: 0;
	position: absolute;
	transform: translateX(-50%);
}