//
// Icons
//
// svg icon,...
//-----------------------------------------------------------------------
.icon--bag,
.icon--close,
.icon--search,
.icon--hamburger,
.icon--search--small,
.icon--caretlarge--left,
.icon--caretlarge--right,
.icon--caretsmall--left,
.icon--caretsmall--right {
    stroke-width: 2;
}
.icon--search {
    height: 20px;
    width: 20px;
}
.icon--search--small {
    height: 15px;
    width: 15px;
}
.icon--bag {
    height: 38px;
    width: 34px;
}
.icon--cart {
    height: 26px;
    width: 31px;
}
.icon--hamburger {
    width: 24px;
    height: 18px;
}
.icon--close {
    height: 16px;
    width: 16px;
}