.image-box{
	float: left;
	@extend %extend-grid-inner-and-image-box;
}
.image-box--wrapper{
	@extend %extend-grid-img-and-image-box-wrapper;
}
.image-box--inner{
	@extend %extend-grid-img-inner--image-box-inner---position;
	
	img{
		@extend %extend-grid-img-inner--image-box-inner__img;
	}
}
.image-box-50{
	width: 50px;
	margin-right: 3px;
}
.image-box-100{
	width: 100px;
	margin-right: 7px;
}