%nav-main-link-extend {
	color: $theme-primary;
	text-decoration: none;
	outline: none; 
}

.main-nav {
	@extend %header-sub-font;
	padding: 5px;
	line-height: 1em; 
    font-size: 13px; 
    letter-spacing: 0.2em;
	
	.nav-item {
		@extend %nav-main-link-extend; 
		display: inline-block;
		padding: 0.6em;
		vertical-align: middle;
		transition: color 170ms ease-in-out 0s;
	} 
	
	&:hover{
		.nav-item {
			color: rgba(135, 192, 189, 0.4);
			
			&:hover{
				@extend %nav-main-link-extend; 
			}
		}
	}
	
	@media screen and (max-width: $grid-float-breakpoint-max) {
		display: none;
	}
}

.main-nav__inner{
	margin: -0.618em;
}


/* Mobile Menu */
%mobile-btn-svg-extend{
	border: 0;
    outline: 0; 
	background-color: transparent;
    stroke: $theme-primary; 
}
	
@media screen and (max-width: $grid-float-breakpoint-max) {
	.mobile-nav-active {
		position: fixed;
		width: 100%;
	}
}

.menubar-toggle {
	@extend %header-mobile-svg-icon;
	@extend %mobile-btn-svg-extend;
	
	@media screen and (min-width: $grid-float-breakpoint)
	{
		display: none;
	}
}

.mobile-nav {
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: 1011;
    position: fixed;
    transition: 0.3s;
    text-align: left;
    overflow-x: hidden;
    background-color: #fff;
	
	@media screen and (min-width: $grid-float-breakpoint)
	{
		display: none;
	}
}

.mobile-nav__inner{
    top: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
	padding: 36px;
    overflow: auto;
    position: absolute;
	background-color: #fff;
} 

.mobile-nav__closebtn{   
	@extend %mobile-btn-svg-extend;
    top: 0;
	z-index: 3;
	right: 20px; 
    position: absolute;
    padding: 22px 22px 60px;
}

.mobile-nav__primary{
    font-size: 36px;
    font-weight: 300;
    line-height: 1em;
    font-family: $font-family-primary;
	
	.nav-item{
		display: block;
		position: relative;
		text-align: left;
		width: 100%;
		padding-bottom: 0.618em;
		color: $theme-primary;
		transition: 0.3s;
	} 
	
	&:hover{
		.nav-item {
			color: rgba(135, 192, 189, 0.4);
			
			&:hover{
				@extend %nav-main-link-extend; 
			}
		}
	}
}
 