/*! normalize.css */


// this can change by bootsrap
body {
    font-family: $font-family-primary; 
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	letter-spacing: 0.06em; 
}

a{
	&:hover,
	&:focus{
		text-decoration: none;
	}
}

h1, h2, h3 {
    text-rendering: optimizelegibility;
	
	&:last-child{
		margin-bottom: 0;
	}
	
	&:first-child {
		margin-top: 0;
	}
}

h1 {
    color: #faa74b;
    line-height: 1.4em;
	font-size: 32px;
    letter-spacing: 0.00444444px;
}
h2 { 
    line-height: 1.4em;
	font-size: 24px;
    letter-spacing: 0.0184615px;
}
h3 {
    font-size: 26px;
    letter-spacing: 0.02em;
    line-height: 1.2em;
	font-style: normal;
    font-weight: 400;
}

@media (min-width: $screen-md-min) { 
	h1 {
		font-size: 72px; 
		letter-spacing: 0.01em;
	}
	
	h2 { 
		font-size: 40px;
		letter-spacing: 0.05em;
	}
}

hr {
    background-color: #ddd;
    color: #ddd;
    height: 1px;
    border: medium none;
}