.fancybox-wrap,
.fancybox-inner{
	max-width: 900px;
}

.quick-view-wrapper {
	display: block;
	overflow: hidden;
	padding: 15px;
	background-color: #fff;
}

.quick-view-wrapper .option-cart-qty{
	display: block;
	margin-bottom: 25px
}

.quick-view-wrapper .option-cart-qty label{
	text-transform: uppercase;
	line-height: 1em;
	font-weight: 300;
	font-size: 12px;
	display: block;
	margin-bottom: 0.5em;
}

.quick-view-fullitem-link{
	color: inherit;
	font-size: 14px;
	opacity: 0.6;
	line-height: 1.8em;
	letter-spacing: 0.06em;
}

.quick-view-fullitem-link span{
	border-bottom: 1px solid #9d9d9d;
}

.fancybox-overlay{
	background-color: rgba(240, 240, 240, 0.6) !important;
	background-image: none !important;
}

.fancybox-skin{
	border-radius: 0;
}

.fancybox-close{
	display: none;
}

.quick-view-wrapper .detail-images{
	margin-bottom: 5px;
} 
		
#owl-demo .item{
  margin: 3px;
}

#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}