.page-title{
	font-size: 40px;
	letter-spacing: 0.05em;
	line-height: 1.4em;
	display: block;
	text-transform: uppercase;
	font-weight: 300;
	margin: 0 0 35px !important;
}
.hentry--content{
	cursor: auto;
	line-height: 1.8em;
	
	p{
		margin-bottom: 15px;
	}
}
.hentry--content p a{
    color: $theme-primary;
    border-bottom: 1px solid rgba(135, 192, 189, 0.3);
    padding-bottom: 0.05em;
    transition: border-color 0.15s ease-out 0s, color 0.15s ease-out 0s;
}