.page-home{
	.master-container{
		max-width: 100%;
	}
}
.home-panels {
    background-color: #fff;
    overflow: hidden;
    position: relative;
} 
.home-content {
	max-width: 1800px;
	padding: 60px 20px;
	margin-left: auto;
    margin-right: auto;
	
	@media (min-width: $screen-sm-min) {
        padding-left: 36px;
        padding-right: 36px;
	}
	@media (min-width: $screen-md-min) {
        padding: 120px  48px;
	}
	@media (min-width: $screen-lg-min) {
		padding: 150px 80px;
	}
}
.home-gallery {
	background-color: #fff;
    padding: 50px;

	.row{
		margin-left: -25px;
		margin-right: -25px;
		
		[class^="col-"] {
			padding-left: 25px;
			padding-right: 25px;
		}
	}
}