// for page-shoppingcart
.page-shoppingcart{
	table.cart-table{
		> thead > tr > th{
			font-size: 13px;
			font-weight: 500;
		}

		> thead > tr > th,
		> tbody > tr > td{
			&.item{
				width: 100px;
				padding-right: 15px;
			}
			
			&.price {
				padding-left: 10px;
			}
		}
		
		> tbody > tr > td{
			font-size: 14px;
			padding-top: 15px;
			padding-bottom: 15px;

			input{ 
				padding: 5px 10px;
			}  
		}
	}
}

.empty.shoppingcart-_wrapper{

	.cart-table,
	.cart_subtotal,
	.checkout-shipping,
	.checkout-tax,
	.cart_total,
	.checkout{
		display: none;
	}
}