body.page-checkout {
    background-color: #f3f3f3;
    color: #333;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    margin: 0;
    padding-bottom: 50px;
}

.page-checkout {
	table.cart-table{
		margin-bottom: 10px;
		border-bottom: 1px solid #ddd;
		
		> thead > tr > th{
			font-size: 11px;
			font-weight: 400;
		}

		> thead > tr > th,
		> tbody > tr > td{
			&.item{
				width: 50px;
				padding-right: 8px;
			}
			
			&.price {
				padding-left: 8px;
			}
		}
		
		> tbody > tr > td{
			font-size: 12px;
			padding-top: 5px;
			padding-bottom: 5px;

			input{ 
				padding: 5px 10px;
			}  
		}
	}
	
	.store-brand{
		color: #333;
		display: block;
		font-size: 24px;
		margin-bottom: 25px;
			img {
				display: inline-block;
				max-height: 80px;
				max-width: 300px;
			}
	}
	
	.checkout-tax,
	.checkout-total,
	.checkout-subtotal,
	.checkout-shipping{
		text-align: right;
		padding-right: 15px;
		
		.label{
			color: #777;
			font-weight: 500;
			text-align: right;
			text-transform: uppercase;
		}
		
		.price{
			min-width: 100px;
			display: inline-block;
		}
	}
	
	.checkout-total { 
		margin-top: 10px;
		padding-top: 10px;
		font-weight: 700;
		border-top: 1px solid #ddd;
	}
	
	.checkout-total .price,
	.checkout-total .label{
		font-size: 16px;
	}
	
	.form-control{
		font-size: 13px;
		font-weight: 500;
	}
}
.checkout-container {
    max-width: 913px;
    padding-top: 45px;
	padding-bottom: 45px;
} 
.checkout-cards{
	display: inline-block;
	float: right;
	height: 27px;
	position: relative;
	top: -3px;
	
	img{
		display: inline-block;
		max-width: 100%;
		height: auto;
	}
}

.stripe-billing{
	display: none;
}
.use-stripe-payment .stripe-billing{
	display: block;
}

.label-credit-card{
	margin-top: 15px;
}/* 
#credit-card > .form-row .form-group{
	margin-bottom: 0; 
} */
#comfort{
	color: #666;
    font-size: 11px;
    margin-top: 20px;
	text-align: justify;
	margin-bottom: 30px;
}
