.search-page__find {
    background: #fff url("../img/icon-searchqueries-32-dark.png") no-repeat scroll 15px 50%;
    border: 1px solid #aaa;
    margin: 0 0 50px;
    padding: 10px 10px 10px 60px;
    position: relative;

	.spinner-wrapper {
		top: 50%;
		left: 10px;
		opacity: 0.5;
		font-size: 10px;
		margin-top: -14px;
		position: absolute;
	}

	input {
		background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
		border: medium none;
		font-size: 27px;
		outline: medium none;
		display: block;
		font-weight: 400;
		width: 100%;
	}
}

.search-page__result{
	transition: opacity 0.15s linear 0s;

	.result-notice{
		color: #000;
		font-size: 12px;
	}
}

.search-page__more {
    margin: 15px 0;
    display: block;
    text-align: center;
}

.result-container{		
	.media{
		margin-top: 1.5em;
		padding-bottom: 1.5em;
		border-bottom: 1px solid rgba(200, 200, 200, 0.35);
		
		@media (min-width: $screen-md-min) {
			.media-left,
			> .pull-left{
				padding-right: 20px;
			}
			
			.media-right,
			> .pull-right{
				padding-left: 20px;
			}
		}
	}
			
	.media-object{
		width: 64px;
		/* height: 64px; */
	
		@media (min-width: $screen-sm-min) {
			width: 95px;
			/* height: 127px; */
		}
		@media (min-width: $screen-md-min) {
			width: 191px;
			/* height: 255px; */
		}
		@media (min-width: $screen-lg-min) {
			width: 305px;
			/* height: 406px; */
		}
		
		img{
			width: 100%;
		}
	}
	
	.media-heading{
		font-size: 1.5em;
		font-weight: 400;
		line-height: 1.3em;
		margin-bottom: 0.5em;
		
		a,
		a:hover,
		a:focus{
			color: inherit;
			outline: none;
			
		}
	}
	/* 
	.media-object__wrapper {
		display: flex;
		overflow: hidden;
		padding-bottom: 100%;
		position: relative;
	}
	
	
	.media-object__inner {
		bottom: 0;
		left: 0;
		overflow: hidden;
		position: absolute;
		right: 0;
		top: 0;
		
		img {
			position: absolute;
			height: 100%;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			transition: opacity 0.3s ease-in 0s;
		}
	} */
}