.parallax {
    bottom: 0;
    left: -5px;
    position: absolute;
    right: -5px;
    top: 0;
	
	img {
		bottom: 0;
		display: none;
		left: 50%;
		min-height: 100%;
		min-width: 100%;
		position: absolute;
		transform: translateX(-50%);
	}
} 

.home-panels.bg-parallax{
	background-color: #000;
}
.bg-parallax{
	.index-page__inner{
		padding-bottom: 60px;
		padding-top: 60px; 
		
		@media (min-width: $screen-md-min) {
			padding-bottom: 120px;
			padding-top: 120px;
		}
		@media (min-width: $screen-lg-min) {
			padding-bottom: 250px;
			padding-top: 250px; 
		} 
	}
	
	.hentry--content{
		color: #fff;
		
		.paralax-title,
		.paralax-subtitle{
			color: inherit;
			display: block;
		}
		
		.paralax-title{
			font-weight: 500;
			margin-bottom: 0.67em;
			font-size: 45px;
			letter-spacing: 0.01em;
			line-height: 1.4em;
			
			@media (min-width: $screen-md-min) {
				font-size: 55px;
			}
			@media (min-width: $screen-lg-min) {
				font-size: 72px;
			} 
		}
		
		.paralax-subtitle{
			font-size: 21px;
			font-style: normal;
			font-weight: 400;
			letter-spacing: 0.02em;
			line-height: 1.2em;
			margin-top: 20px;
			
			@media (min-width: $screen-md-min) {
				font-size: 25px;
			}
			@media (min-width: $screen-lg-min) {
				font-size: 29px;
			} 
		}
		
		a {
			color: inherit;
			border-bottom: 1px solid rgba(255, 255, 255, 0.3);
			padding-bottom: 0.05em;
			transition: border-color 0.15s ease-out 0s, color 0.15s ease-out 0s;
			
			&:hover{
				border-color: rgba(255, 255, 255, 0.15);
				color: rgba(255, 255, 255, 0.6);
			}
		}

		p{
			margin: 0;
		}
	} 
}