.hentry {
	h1.product-title{
		color: #f16676;
		font-size: 50px;
		font-weight: 300;
		letter-spacing: 0;
		line-height: 1.2em;
		margin-bottom: 25px; 
	}
	
	.product-price{
		color: #999;
		font-size: 20px;
		line-height: 1em;
		margin-bottom: 25px; 
	}
	
	.product-detail{
		color: #1d1d1d; 
		font-size: 14px;
		letter-spacing: 0.06em;
		line-height: 1.8em;
		margin-bottom: 25px;
	}

	.option-cart{
		margin-bottom: 25px;
		
		> label{
			display: block;
			font-weight: 300;
			font-size: 13px
		}

		> input{
			border-radius: 300px;
			background-color: #f6f6f6;
			border: 2px solid rgba(238, 238, 238, 0);
			padding: 0.75em 1.25em;
			color: #1d1d1d; 
			font-size: 12px; 
			line-height: 1em; 
		}

		.select2-container--default .select2-selection--single{
			font-size: 12px; 
			padding-left: 15px;
			padding-right: 15px;
			text-transform: uppercase;
			background-color: #f6f6f6;
			border-radius: 300px !important;
		}
		
		.select2-container--default .select2-selection--single .select2-selection__rendered{
			line-height: 33px;
		}
		
		.select2-container--default .select2-selection--single .select2-selection__arrow{
			height: 31px;
		}
	}
	
	.option-cart-addbtn{
		margin-bottom: 25px;
	}
}
body > .select2-container{
	font-size: 12px;
	z-index: 9999;
}
.variant-info{
	font-size: 75%;
}
.detail-images{
	margin-bottom: 25px;
}

.zoompict{
	position: relative;
	display: inline-block;
	cursor: zoom-in;
	
	img{
		display: block;
	}
}

.single-top-bar{
	display: block;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1em;
    overflow: hidden;
    padding-bottom: 50px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.product-price{
	color: rgba(0, 0, 0, 0.6);
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.1em;
	line-height: 1.4em;
	margin: 0.5em 0 0;
	text-transform: none;
}