.shoppingcart-_wrapper{
	.subtotal{
		border-bottom: 1px solid #ddd;
		float: right;
		margin-bottom: 30px;
		padding-bottom: 15px;
		padding-right: 15px;
		padding-top: 20px;
		text-align: right;
		width: 50%;
		
		.label {
			color: inherit;
			font-size: 16px;
			font-weight: 300;
			margin-right: 15px;
		}
	}
	
	.checkout{
		float: right;
		clear: both;
		padding-right: 15px;
	}
    


}

table.cart-table{
	margin-bottom: 0; 
	
	> thead > tr,
	> tbody > tr,
	> tfoot > tr  {
		> th,
		> td{  
			padding-left: 0;
			padding-right: 0;
			vertical-align: middle;
		}
	} 
	
	> thead > tr > th,
	> tbody > tr > td{
		border-top: 0;
		border-bottom: 1px solid #ddd;
		
		&.price,
		&.quantity {
			text-align: right;
			white-space: nowrap;
		}
		
		&.remove{
			min-width: 30px;
			text-align: center;
		}
	}
	
	> tbody > tr > td{
		a{
			color: inherit;
		}

		.remove-item{
			float: right;
			font-size: 1.2em;
			font-weight: 700;
			margin-right: 10px;
			cursor: pointer;
			opacity: 0.5; 
		}
		
		input{
			float: right;
			margin-left: 5px;
			text-align: right;
			border-radius: 4px;
			border: 1px solid #ccc;
		}
	}
}