.loading-active{
	cursor: wait;
	opacity: 0.6;
	position: relative;
	pointer-events: none;
	
	.loading-spinner {
		display: block;
	}
}

.loading-spinner {   
    display: none;
    top: 50%;
	left: 50%;
    margin-top: 25px;
    position: absolute;
    transform: translate(-50%, -50%);
	
	.fl-spin {
		display: block;
		margin: 0 auto;
		height: 50px;
		width: 50px;
	}
}

.fl-spin__content {
    box-sizing: border-box;
    height: 100%;
}

.fl-spin {
    background-color: transparent;
    border-radius: 150px;
    display: inline-block;
    vertical-align: middle;
    -webkit-animation: anim-fl-spin 1s infinite linear;
    -moz-animation: anim-fl-spin 1s infinite linear;
    -ms-animation: anim-fl-spin 1s infinite linear;
    -o-animation: anim-fl-spin 1s infinite linear;
    animation: anim-fl-spin 1s infinite linear;
}

.fl-spin.light {
    border: 2px solid rgba(255,255,255,.7) !important;
    border-top-color: rgba(255,255,255,.15) !important;
    border-left-color: rgba(255,255,255,.15) !important;
}

.fl-spin.dark {
    border: 2px solid rgba(0,0,0,.75) !important;
    border-top-color: rgba(0,0,0,.08) !important;
    border-left-color: rgba(0,0,0,.08) !important;
}

@-webkit-keyframes anim-fl-spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    };
}

@-moz-keyframes anim-fl-spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    };
}

@-ms-keyframes anim-fl-spin {
    0% {
        -ms-transform: rotate(0deg);
    }

    100% {
        -ms-transform: rotate(360deg);
    };
}

@-o-keyframes anim-fl-spin {
    0% {
        -o-transform: rotate(0deg);
    }

    100% {
        -o-transform: rotate(360deg);
    };
}

@keyframes anim-fl-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    };
}