.fl-block {
    position: relative;
    height: auto;
    padding-top: $container-padding;
    padding-bottom: $container-padding;
    outline: none;
	@include clearfix;
	@include box-shadow( inset 0 0 0 1px rgba(128,128,128,0) );
	@include transition( box-shadow .2s ease-in-out ); 
}

.fl-block-html {
	margin-left: auto;
    margin-right: auto;
    width: 49.99%;
}

.breadcrumbs {
	.nav-item {
		color: inherit;
		margin-right: 5px;
		margin-bottom: 7px;
		display: inline-block;
	}
	
	a.nav-item:after {
		content: "›";
		height: 21px;
		color: #999;
		width: 1px;
		padding-left: 5px;
	}
}

.pager-nav{
	margin: 0px;
	padding: 0px;
	display: block;
	list-style: none;
	
	> li {
		display: inline-block;
		
		a {
			display: block;
			color: inherit;
			outline: none !important;
			
			&:active,
			&:hover{
				color: #f16676;
			}
		}
		
		&.disabled > a{
			color: #777 !important;
			cursor: not-allowed;
		}
	}
}

.error-summary{
	background: #a00 url("../img/tiny-alert.png") no-repeat scroll 7px 7px;
    border-radius: 2px;
    color: #fff;
    font-size: 11px;
    line-height: 19px;
    padding: 5px 8px 5px 28px;
}

fieldset .error-summary{
	margin-bottom: 20px;
}