//== Colors
//
//## theme colors for use across Themes.
$theme-primary: #87c0bd !default;
$theme-secondary: #f16676 !default;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
$font-family-primary: "Rubik" !default;

//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

$container-max: 1800px !default;
$container-padding: 17px !default;