/*
 * Defined our button
 *------------------------------------------------------------------------
 */
.btn-i-edit,
.btn-i-delete {
  margin: 0;
  font-size: 1.73333333em;
  line-height: .75em;
  vertical-align: -15%;
  cursor: pointer;
  background-color: #fff;
  border-radius: .2em;
}

.btn-i-edit {
  color: #0073aa;
}
.btn-i-edit:hover {
  color: #00527a;
}
.btn-i-edit:before {
  content: "\f14b";
} 
.btn-i-delete {
  color: #ef1717;
}
.btn-i-delete:hover {
  color: #c80e0e;
}
.btn-i-delete:before {
  content: "\f146";
}
.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .2s;
}

.btn-primary.btn-outline {
    color: #3c8dbc;
}

.btn-success.btn-outline {
    color: #00a65a;
}

.btn-info.btn-outline {
    color: #00c0ef;
}

.btn-warning.btn-outline {
    color: #f39c12;
}

.btn-danger.btn-outline {
    color: #dd4b39;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}