


/*html, body{
	height: 100%;
}*//* 
.scroll-dummy-section{
	display: none;
	width: 100%;
}
.content-header{
 -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}
.scroll-active .scroll-dummy-section{
	display: inline-block;
}
.scroll-active .content-header{
	z-index: 9999;
	padding-bottom: 10px; 
	background-color: #fff;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
	padding-top: 5px;
	position: fixed;
	right: 0px; 
	left: 0px; 
	top: 0px;
}

@media (min-width: 768px) {
	.scroll-active .content-header{
		left: 230px;
	}
    .main-sidebar,
  .left-side {
    -webkit-transform: translate(-230px, 0);
    -ms-transform: translate(-230px, 0);
    -o-transform: translate(-230px, 0);
    transform: translate(-230px, 0);
  }  
} */
.box-body.table-responsive thead th{
	white-space: nowrap;
}
.fixed-layout-width{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.delete-button,
.action-button{
	display: inline-block;
	padding-top: 7px;
	white-space: nowrap;
}
.delete-button .btn,
.action-button .btn{
	font-weight: 700;
}
.content-footer{
	text-align: right;
}
.action-button > .btn-group,
.content-layout-form .action-button > .btn{
	display: none;
}
.content-layout-form .action-button > .btn-group{
	display: inline-block  !important;
}

.content-wrapper, .right-side, .main-footer{
	transition: none;
}/*
.select2-control {
	width: 100% !important;
	display: block;
} 
td .select2-control{
	min-width: 100%;
}
td .select2-container{
	width: 100% !important;
} */

.aspect-ratio {
    background: #fafbfc none repeat scroll 0 0;
    display: block;
    padding: 0;
    position: relative;
}

.aspect-ratio::before {
    border: 1px solid rgba(195, 207, 216, 0.3);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.aspect-ratio__content {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.aspect-ratio--square--50 {
    flex-grow: 0;
    flex-shrink: 0;
    padding-bottom: 50px;
    width: 50px;
}
.aspect-ratio--square {
    padding-bottom: 100%;
    width: 100%;
}
td .aspect-ratio{
	display: inline-block;
	vertical-align: middle;
	margin-right: 16px;
}
a.hover-underline:hover{
	display: inline-block;
	text-decoration: underline;
}
@keyframes fa-blink {
     0% { opacity: 1; }
     /*25% { opacity: 0.25; }*/
     50% { opacity: 0.5; }
     /*75% { opacity: 0.75; }*/
     100% { opacity: 0; }
 }/* 
.breadcrumb > li + li::before{
	content: "/";
} */
.fa-blink {
   -webkit-animation: fa-blink 1s linear infinite;
   -moz-animation: fa-blink 1s linear infinite;
   -ms-animation: fa-blink 1s linear infinite;
   -o-animation: fa-blink 1s linear infinite;
   animation: fa-blink 1s linear infinite;
}
.images-holder{
	display: inline-block;
	margin: 10px 0px;
	padding: 10px;
	background-color: #eee;
	border-radius: 3px;	
}
.login-box-body .login-box-msg{
	padding: 10px 0 40px;
}

.no-padding-side {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
}

.no-padding-side.box-body > .form-group {
	margin: 0;
	padding: 15px;
}
.no-padding-side.box-body > .form-group + .form-group {
	border-top: 1px dotted #d3d7db;
}
.pull-left.icon{
	margin-right: 5px;
}
.text-overflow{
	display: block;
	overflow: hidden;
}
.text-overflow > span{
	display: block;
}
.main-header .sidebar-toggle{/* background-color: #3c8dbc; */
	border-radius: 2px;
	margin: 10px 5px 10px 15px;
	padding: 5px 10px;
}
.cke_inner .cke_top{
	border-color: #ccc;
    border-radius: 3px 3px 0 0;
    border-style: solid solid none; 
   border-width: 1px 1px 0;
    padding: 5px;
}

.sidebar-menu {
	text-transform: capitalize;
}
.sidebar-menu > li > a > span{
	font-weight: bold;
}/* 
.navbar-custom-menu > .navbar-nav > li.open{
	background-color: #3c8dbc;
} */
.user-panel > .info{
	right: 0;
}

/* Form */
.radio-list,
.checkbox-list {
  padding: 0;
  color: #333;
  text-align: left;
}
.text-success-light{
	color: #c7f465;
}
.radio-list:last-child,
.radio-list > li:last-child,
.checkbox-list:last-child,
.checkbox-list > li:last-child {
  margin: 0 !important;
}
.radio-list label,
.checkbox-list label {
  white-space: nowrap;
}
.radio-list.block, .radio-list.block > li,
.checkbox-list.block,
.checkbox-list.block > li {
  display: block;
  margin: 0 0 7px;
}
.radio-list.inline, .radio-list.inline > li,
.checkbox-list.inline,
.checkbox-list.inline > li {
  display: inline-block;
  margin: 0 1.5em 0 0;
}
.input-group-addon label{
	margin-bottom: 0;
}
.field-shadow-default {
	background-color: #fbfbfb;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
}
.help-block{
	font-size: 12px;
	margin-bottom: 0;
}
.repeater .row_clone{
	display: none !important;
}
.repeater .panel-group{
	border: 1px solid #e1e1e1;
	padding: 10px;
	list-style: none;
	background-color: #f9f9f9;
	border-radius: 3px;
	margin-bottom: 10px;
}
.repeater li .panel-heading{
	line-height: 1;
	padding: 10px;
	position: relative
}
.repeater .panel-heading .panel-title{
	color: #999;
	font-weight: 600;
	text-shadow: 0 1px 0 #fff;
	font-size: 14px;
}
.repeater .panel-heading .remove-repeater-item {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 7px;
}
.repeater .repeater-content,
.repeater .repeater-content .form-group + .form-group{ 
	border-top: 1px solid #e1e1e1;
}
.repeater .repeater-content{
	padding: 10px;
}
.repeater .repeater-content .form-group{ 
	padding: 10px;
	margin: -10px;
	background-color: #f9f9f9;
}
.repeater .repeater-content .form-group:first-child{
	margin-bottom: 10px;
}
.repeater .panel-group .panel + .panel{
	margin-top: 7px;
}

/**/
.login-box-heading{
	color: #fff;
	padding: 25px 20px 0;
	background-color: #00a7d0;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.login-box-body,
.register-box-body{
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
}
.login-box .panel-footer{
	padding-left: 20px;
	padding-right: 20px;
}
.login-box-body .field-shadow-default {
	font-size: 15px;
	height: auto;
}
.show-on-hover > .hover-show{
	display: none; 
	margin-left: 5px;
}
.show-on-hover:hover > .hover-show{
	display: inline-block; 
}
.table th.order,
.table td.order, 
.table th.remove,
.table td.remove{
	width: 20px;
}
.table > thead > tr > th{
	white-space: nowrap;
}
.label-inline{
	font-size: 18px;
}
.label-inline > .label{
	display: inline-block;
	margin-right: 5px;
	font-weight: 500;
}
label.required:after{
	content: " *";
	padding-left: 5px;
	color: #f16676;
}
label.control-label{
	display: block;
	font-weight: 500;
}
.repeater thead th label.control-label{
	font-weight: 600;
	margin-bottom: 0;
}
.repeater .table-responsive{
	padding: 0 5px;
	background-color: #f9f9f9;
	border: 1px solid #e1e1e1;
	border-radius: 3px;
	margin-bottom: 10px;
}
.repeater .table-responsive .table{
	margin-bottom: 0;
}
.repeater table thead tr th.field_order,
.repeater table tbody tr td.field_order,
.repeater table thead tr th.field_action,
.repeater table tbody tr td.field_action {
	/* vertical-align: middle; */
	text-align: center;
	white-space: nowrap;
	font-weight: 600;
	width: 15px !important;
}
.repeater .table > thead > tr > th{
	border-bottom: 1px solid #ebeef0;
	padding-bottom: 10px;
	padding-top: 10px;
}
label.required:after{
	content: "*"; 
	color: #dd4b39; 
	padding-left: 5px;
}
input.field-image{
	font-size: 13px;
	padding: 4px 13px;
}






















.image-uploader > .has-img {
  margin-bottom: 10px;
  position: relative;
  display: none;
  float: left;
}
.image-uploader > .has-img img {
  display: block;
  width: 100%;
  min-width: 45px;
  max-width: 100%;
  height: auto;
  min-height: 45px;
  margin-left: 2px;
  background-color: #e1e1e1;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .2);
          box-shadow: 0 0 1px rgba(0, 0, 0, .2);
}
.image-uploader > .has-img:hover > ul.tools {
  top: 0;
  visibility: visible;
  filter: alpha(opacity=100);
  opacity: 1;
}
.image-uploader > .has-img ul.tools {
  position: absolute;
  top: -1.7em;
  right: -3px;
  padding: 0;
  margin: 0;
  visibility: hidden;
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: top .3s ease-out, opacity .35s linear;
       -o-transition: top .3s ease-out, opacity .35s linear;
          transition: top .3s ease-out, opacity .35s linear;
}
.image-uploader .input-group{
	width: 100%;
}
.image-uploader.active > .has-img {
  display: block;
}
.image-uploader.active > .no-img,
.image-uploader.active .field-image{
  display: none;
}
.box-header .box-title{
	font-weight: 600;
}/* 
.table-tools{
	white-space: nowrap;
	display: block;
	font-size: 0.9em;
	padding-top: 5px; 
}
.table-tools a + a:before{
	content: "|";
	margin: 0 7px 0 5px;
}
@media (min-width: 992px) {
	.table-tools{
		visibility: hidden;
		opacity: 0;
	}

	tr:hover .table-tools{
		visibility: visible;
		opacity: 1; 
	}
} */
table.dataTable thead .sorting::after,
table.dataTable thead .sorting_asc::after,
table.dataTable thead .sorting_desc::after{
	left:8px;
	right: auto;
} 
table.dataTable thead > tr > th.bulk-column{
	padding-left: 8px;
   padding-right: 10px; 
}
table.dataTable thead > tr > th.bulk-column::after{
	content: '';
}
table.dataTable thead > tr > th:last-child,
table.dataTable tbody > tr > td:last-child{
	white-space: nowrap;
}
table.dataTable {
	border-bottom: 1px solid #f4f4f4;
}

.image-file-uploader .template-upload,
.image-file-uploader .template-download {
	float: left;
	margin-bottom: 10px;
	position: relative;
	text-align: center;
}
.image-file-uploader .has-image{
	background-color: rgb(225, 225, 225);
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
	display: block;
	min-height: 100px;
	min-width: 100px;
	padding: 2px;
	border-radius: 2px;
	margin-bottom: 10px;
	position: relative;
}
.image-file-uploader .tools{
	display: inline-block;
} 
.content-header > .alert {
	margin-top: 20px;
}

/***
 **/


