/*
 * Defined for specifie layout table
 *------------------------------------------------------------------------
 */
#post_records{
	input.bulkTableAll{
	}
	input.bulkTableRow{
	}
	
	&.bulk-active{
		.tablebulk {
			top: 8px;
			right: 0;
			.btn.bulk-label{ 
				border-bottom-right-radius: 0;
				border-top-right-radius: 0;
			}
			
			#bulk-info,
			button.btn{ 
				display: inline-block;
				padding-right: 12px;
			}
		}
	}
} 
.tablebulk{
    top: 12px;
    left: 14px;
    z-index: 11;
    position: absolute;
	background-color: #fff;
	
	#bulkTableAll{
		margin: 0;
		padding: 0;
	}
	
	#bulk-info{ 
		display: none;
		margin-left: 16px;
		padding-bottom: 2px;
		padding-top: 1px;
	}
	
	button.btn{ 
		display: none;
		color: #0078bd;
		padding-top: 3px;
		padding-bottom: 3px;
		border-color: #d3dbe2;
		background-color: #fff; 
		
		&:hover{
			background-color: #efefef;
		}
	}
	
	.btn.bulk-label{
		color: #c3cfd8;
		padding: 2px 8px 1px;
		background-color: #fafbfc;
		white-space: nowrap;
		border-bottom-right-radius: 3px;
		border-top-right-radius: 3px; 
		
		&:hover,
		&:active{
			box-shadow: none;
			border-color: #ddd;
			background-color: #fafbfc;
		}
	} 
}  